.inputBox, .search-btn {
    border: none;
    outline: none;
    box-shadow: 0 5px 5px 5px rgba(133, 244, 100, 0.3);
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}