.card {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
}

.weather-icon {
    width: 50px;
}

.temp {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.temp-data {
    font-size: 13px;
    margin: 0;
}