body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}